      #contain {
        margin: 10px auto;
		margin-top: 50px;
        width: auto;
        padding: 20px;
      }
      #title {
        padding: 20px;
		text-align: center;
    font-size: 23px;
}
      #text {
        padding: 10px;
		margin-top: 2%;
		margin-bottom: 10px;
		text-align: center;
      }
      #footer {
        clear: both;
        padding: 10px;
		margin-left: 30%;
		margin-right: 30%;

      }
      @media (max-width : 383px ){
        #contain {
          width: auto;
        }
      }

/* BUTTON */
button,
button::after {
  transition: all 0.5s;
}

button {
  background: #F8FAFF;
  border: 2px solid #000;
  border-radius: 40px;
  color: #000;
  display: block;
  font-size: 19.5px;
  margin: 1em auto;
  padding: 11px 60px;
  position: relative;
  text-transform: uppercase;
}

button:hover {
  color: #353866;
  background-color: inherit;
  border: 2px solid #353866;
}

#title {
	animation-duration: 1s; animation-name: slidein;
}

@keyframes slidein
{ from {
	margin-left: 100%; width: 300%
	}
	to
	{
		margin-left: 0%; width: 100%;
	}
}

#text {
	animation-duration: 1.5s; animation-name: slidein;
}

@keyframes slidein
{ from {
	margin-left: 100%; width: 300%
	}
	to
	{
		margin-left: 0%; width: 100%;
	}
}

body {
  font-family: 'Yeon Sung', sans-serif;
}
